*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "Josefin Sans", sans-serif;
}

header {
  width: 100%;
}

.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  margin: 50px 0 50px 0;
}

button {
  font-size: 14px;
  background-color: #000;
  color: #fff;
  width: 100%;
  text-transform: uppercase;
  padding: 10px;
  font-weight: 700;
  cursor: pointer;
}

button:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

/* NAVIGATION */

.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: #fff;
  background-color: #744c24;
  position: fixed;
  border-bottom: 2px solid #8f755f;
}

.navbar ul {
  list-style: none;
}

.navbar ul li {
  display: inline-block;
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
  margin-right: 50px;
}

.navbar div {
  margin-left: 50px;
}

a {
  text-decoration: none;
  color: #fff;
}

/* PARALLAX EFFECT */

.hero {
  height: 60vh;
  background-image: url("assets/images/parallaxPic.jpg");

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* FONT-SIZES */

h1 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 36px;
  margin: 20px 0 20px 0;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 16px;
  font-weight: 600;
}

h3 {
  font-size: 16px;
  font-weight: 600;
  color: grey;
}

/* SEKCIJA - PROIZVODI */

.sekcija-proizvodi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.proizvodi {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.proizvod {
  margin: 10px;
}

.slika-proizvoda {
  width: 350px;
  height: auto;
}

.info-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 0 5px 0;
}

/* SEKCIJA KORISNICI */

.sekcija-korisnici {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.korisnici {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.korisnik-box {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #212121;
  margin: 10px;
  background-color: #f8f8f8;
}

.slika-korisnika {
  margin: 40px 0 40px 0;
}

.tekst-korisnika {
  text-align: justify;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  padding: 0 30px 0 30px;
}

.ime-korisnika {
  text-transform: uppercase;
  font-weight: 700;
  padding: 50px;
}

.korisnik-img {
  width: 80px;
  border-radius: 50%;
}

/*SEKCIJA O NAMA*/

.sekcija-o-nama {
  display: flex;
  justify-content: center;
}

.sekcija-o-nama div {
  width: 50%;
}

.reklama {
  display: flex;
  justify-content: center;
}

.reklama-img {
  margin: auto;
}

.tekst-o-nama {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}

.tekst-o-nama p {
  margin-right: 20%;
  text-align: justify;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #212121;
  color: #fff;
  width: 100%;
  margin-top: 50px;
}

input {
  width: 200px;
  background: transparent;
  border: 1px solid grey;
  margin: 5px 0 5px 0;
  padding: 5px;
  color: #fff;
}

textarea {
  background: transparent;
  border: 1px solid grey;
  margin: 5px 0 5px 0;
  color: #fff;
}

.sekcija-kontakt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyright {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 20px 0 20px 0;
}

.copyright h2 {
  padding: 20px;
}

.proizvod-container {
  display: flex;
  height: 100vh;
}

.proizvod-container-lijeva-strana {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.proizvod-container-desna-strana {
  display: flex;
  flex: 1;
  background-color: #f8f8f8;
}

.proizvod-container-info {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  margin: 30px 0 20px 0;
}

.pr-slika {
  margin: auto;
  width: 500px;
}

.tekst-proizvoda {
  text-align: justify;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  padding: 40px;
}

.pr-input {
  color: #000;
}

.pr-btn {
  width: 200px;
}